.playlists-row-outer-container {
	padding-left: 1rem;
	margin-bottom: 2rem;
	.playlists-row-container {
		display: flex;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	@media screen and (min-width: 520px) {
		padding-left: 2rem;
	}

	@media screen and (min-width: 900px) {
		padding-left: 4rem;
	}

	.heading {
		font-size: 2rem;
		font-weight: 600;
	}
}
